
{% extends 'base.html' %}

{% load static %}


 <!-- {% static 'libdesign.css' %}  -->
  

    {% block content %}
    <div id="library" style="display: flex;flex-direction: columns; "> 
      {% for post in cart_item %}
  
  <div id="book_lib">
   
       <img src="{{post.imgurl}}" width="130px" height="130px"> 
    <p>{{ post.book_name}}</p>
    <p>{{ post.author }}</p> 
    <button><a class="nav-nav" href="{{post.Bookurl}}">View</a></button>

   
</div>
  
   {% endfor %}

</div>

   {% endblock content %}  


