
{% extends 'base.html' %}

{% load static %}

 
    {% block content %}
    <h1 style="text-align: center;padding: 0.1cm;">Your library</h1>
    <div id="library" style="display: flex;flex-direction: columns; "> 
   
      {% for post in bookk %}
  
  <div id="book_lib">
   
       <img src="{{post.imgurl}}" width="130px" height="130px"> 
    <p>{{ post.book_name}}</p>
    <p>{{ post.author }}</p> 
  
    <button><a class="nav-nav" href="{{post.Bookurl}}">View</a></button>

   
</div>
  
   {% endfor %}

</div>

   {% endblock content %}  

   